.fondo-about{
    background-image: url('https://fondosmil.com/fondo/27365.png'); /* Reemplaza 'ruta-de-la-imagen.jpg' con la ruta de tu imagen de fondo */
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
   
    flex-wrap: wrap;
    justify-content: center;
    gap:20px; 

}

.color-letra{
    color:white;
}